html,body{
    height: 100%;
    margin: 0;
}

body{
    background: linear-gradient(30deg,#8eeeff, rgb(0, 162, 255) 40%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#title{
    text-align: center;
    color: #ffffff
}

#cityInp{
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    width: 70%;
    height: 30px;
    color:#fffefe;
}

input::placeholder{
    color:#ebebeb;
}

#mag{
    width: 40px;
    height: 35px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}


#topBars{
    display: flex;
    justify-content: center;
    gap: 10px;
}

#section1{
    margin: auto;
    margin-top: 40px;
    width: 90%;
    height: 600px; 
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}

#mainWeather{
    margin: auto;
    margin-top: 40px;
    display: block;
    text-align: center;
}

#mainWeather p{
    color:#ffffff;
}

#p1{
    margin-bottom: -40px;
}
#p2{
    margin-top: -40px;
}

#mainWeather h1{
    color:#ffffff;
    font-size: 60px;
}

#cloudy{
    width: 100px;
    margin-bottom: 20px;
}

#heading{
    margin-top: -35px;
}

.divider1{
    width: 90%;
    height: 80px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    margin: auto;
    margin-top: 40px;
    margin-bottom: -20px;
    display: flex;
    gap: 15px;
    color: #ebebeb;
}

.words h1{
    margin-top: -20px;
}

.temp{
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-left: 10px;
}

#heading2{
    text-align: center; 
    color: #ebebeb;
}

.Forecast{
    width: 90%;
    height: 50px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    margin: auto;
    padding-bottom: 20px;
    margin-top: 20px;
}

.wording{
    display: flex;
    gap: 35px;
    color: #ebebeb;
    margin-left: 20px;
}

.wording p{
    font-size: 20px;
    margin-right: -20px;
    margin-top: 20px;
}

.weatherImg{
    margin-top: 20px;
    margin-right: -25px;
    width: 40px;
    height: 40px;
}

#mgG{
    width: 20px;
    height: 20px;
}